html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Nanum Gothic', serif;
    color: #13347b;
}

body {
    width: 70%;
    margin: 40px auto;
    box-shadow: 0px 0px 40px 5px rgb(169, 169, 169);
}

aside {
    width: 30%;
    background: #F1FFC4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    width: 70%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-container-section {
    width: 90%;
}

.aside-section {
    width: 90%
}

.aside-section h2 {
    margin: 0.5em 0;
}

.aside-section h2{
    text-align: center;
}

header {
    height: 300px;
    background: #80e0ab;
    display: flex;
    flex-wrap: wrap;
}

.headings {
    text-align: center;
}

.headings h1 {
    font-size: 4em;
}

.headings h3 {
    font-size: 2em;
}

footer {
    font-weight: bold;
    font-size: 1.2em;
    height: 40px;
    background: #C6E2E9;
    color: #160d35;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 70%;
}

.header-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 30%;
    text-align: center;
}

.header-nav {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background: #C6E2E9;
}

nav {
    font-weight: bold;
    width: 100%;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px;
    list-style-type: none;
}

a:visited {
    color: #13347b;
}

main {
    display: flex;
    align-items: stretch;
}

#languages-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.language-item {
    text-align: center;
}

.language-item h4 {
    margin-bottom: 0.5em;
}

#skills-content, #contacts-content {
    display: flex;
    justify-content: center;
}

.main-container-heading {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
}

.main-container-heading h2 {
    margin: 0;
}

.main-container:not(h2) {
    font-size: 1.1em;
}

code {
    font-family: monospace;
}

#profile-photo {
    border: 10px solid #C6E2E9;
    border-radius: 50%;
    width: 65%;
}

#experience-content {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    text-align: center;
}

.experience-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-item-heading {
    font-weight: bold;
    margin: 15px 0;
}

.experience-item a{
    background: #F1FFC4;
    width: 160px;
    padding: 5px;
    border-radius: 15px;
    font-weight: 600;
    border: 2px solid #13347b;

}

.experience-item a:hover {
    background-color: rgb(252, 210, 217);
}

.pink {
    color: rgb(230, 0, 172);
}

.blue {
    color: rgb(77, 77, 255);
}

.red {
    color: rgb(255, 67, 67);
}

code span {
    font-family: monospace;
}

#education-content, #about-content, #code-content {
    padding: 10px 0 10px 25px;
}

blockquote {
    text-align: center;
}

.code {
    width: 60%;
    margin: 10px auto;
}

#skills-content ul,#contacts-content ul {
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#skills-content li, #contacts-content li {
    margin: 10px;
    list-style-type: none;
    display: inline;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 420px) {}